body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: rgb(181, 27, 27);
  margin: 16px auto;
  padding: 8px;
}

.title {
  margin-top: 0;
  margin-bottom: 8px;
  background: #1e6594;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #1f5d86;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
  margin-top: 8px;
}

button {
  display: block;
  background: rgb(87, 110, 168);
  border: 1px solid #eee;
  margin: auto;
  width: 50%;
  padding: 8px 24px;
}